
<h2>Graph</h2>

<div style="text-align: center">
    <h1>
        Trade Price: <span id="priceHolder"></span>
    </h1>
    <div id="graphHolder" style="width:500px; height: 300px; margin: 0 auto">
    </div>

    @Scripts.Render("~/Scripts/Graph/dygraph.js")
    @Scripts.Render("~/Scripts/Graph/graph-helper.js")
    @Scripts.Render("~/Scripts/Graph/GraphScript.js")
</div>





